<h2>Users</h2>
<button class="btn btn-primary" [routerLink]="['/api/product']"><i class="fa fa-clone"></i>&nbsp;  See my products</button>


<div *ngFor = "let user of users; let i=index">
  <input type="hidden" value="{{user.email}}">
  <div class="border border-secondary">
    <span><img src="https://image.flaticon.com/icons/png/512/206/206881.png"></span>
    <h2>{{user.firstName}}</h2>
    <p><b>Las Name:</b> {{user.lastName}}</p>
    <p><b>Email:</b> {{user.email}}</p>
    <button class="btn btn-primary" [routerLink]="['/api/userinfo', user._id]"><i class="fa fa-eye"></i>&nbsp;See user details</button>
    <button class="btn btn-danger" (click)="confirmDelete(user._id, i)"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete </button>
  </div>
</div>

<p><p>
  <button class="logout" (click)="goBack()"><i class="fa fa-toggle-left" aria-hidden="true"></i>   Log out</button>
</p><p>
