<h2>Add Tienda</h2>
<form [formGroup]="tiendaForm" (ngSubmit)="addTienda()">

  <div class="form-group">
    <ion-label>Name:</ion-label>
    <ion-input type="text" class="form-control" formControlName="name"></ion-input>   
  </div>

  <div class="form-group">
    <ion-label>direccion:</ion-label>
    <ion-input type="text" class="form-control" formControlName="direccion"></ion-input>   
  </div>

  <div class="form-group">
    <ion-button class="btn btn-primary" type="submit" [disabled]="tiendaForm.invalid"> Add </ion-button>
  </div>
  
</form>
