<h2>Add Tickets</h2>
<form [formGroup]="ticketsForm" (ngSubmit)="addTickets()">

  <div class="form-group">
    <ion-label>Name:</ion-label>
    <ion-input type="text" class="form-control" formControlName="name"></ion-input>   
  </div>

  <div class="form-group">
    <ion-label>cif:</ion-label>
    <ion-input type="text" class="form-control" formControlName="cif"></ion-input>   
  </div>

  <div class="form-group">
    <ion-label>Foto</ion-label>
    <ion-input type="text" class="form-control" formControlName="foto"></ion-input>   
  </div>

  <div clas="form-group">
    <ion-label>Fecha de expedicion</ion-label>
    <ion-input type="text" class="form-control" formControlName="expedicion"></ion-input>   
  </div>


  <div class="form-group">
    <ion-label>Lista de Productos </ion-label>
    <ion-input type="text" class="form-control" formControlName="products"></ion-input>   
  </div>


  <div class="form-group">
    <ion-button class="btn btn-primary" type="submit" [disabled]="ticketsForm.invalid"> Add </ion-button>
  </div>
  
</form>
