<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Modify Shop </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Modify the Shop: {{actual._id}}</ion-card-title>
    </ion-card-header> 
  
    <form [formGroup]="tiendaForm" (ngSubmit)="modify(actual._id)">
      <ion-label>Name: {{actual.name}}</ion-label> 
    <ion-item class="form-group">
      <ion-label>New name </ion-label>
      <ion-input type="text" class="form-control" formControlName="name"></ion-input>
    </ion-item>

      <ion-label>Address: {{actual.direccion}} </ion-label>
    <ion-item class="form-group">
      <ion-label>New address </ion-label>
      <ion-input type="text" class="form-control" formControlName="direccion"></ion-input>
    </ion-item>

    <ion-item class="form-group">
      <ion-button class="btn btn-primary" type="submit" [disabled]="tiendaForm.invalid"> Modify </ion-button>
    </ion-item>  
      
  </form>
</ion-card>
</ion-content>