<h2> Modify Tienda </h2>

<div *ngFor = "let tienda of lista; let i=index">
  <p><b>Modify tienda:</b> {{tienda._id}}</p>

  <p>Rellena los campos a modificar</p>

  <form [formGroup]="tiendaForm" (ngSubmit)="modify(tienda)">

    <div class="form-group">
      <ion-label>Name:</ion-label>
      <ion-input type="text" class="form-control" formControlName="name"></ion-input>   
    </div>
  
    <div class="form-group">
      <ion-label>cif:</ion-label>
      <ion-input type="text" class="form-control" formControlName="direccion"></ion-input>   
    </div>
  
    <div class="form-group">
      <ion-label>Lista de Productos </ion-label>
      <ion-input type="text" class="form-control" formControlName="products"></ion-input>   
    </div>
  
  
    <div class="form-group">
      <ion-button class="btn btn-primary" type="submit" [disabled]="tiendaForm.invalid"> Modify </ion-button>
    </div>
    
  </form>
</div>
