<h2>Product Detail of {{product.name}}</h2>
<p><p>
<button class="logout" (click)="goBack()" [routerLink]="['']">Log out</button>
</p><p>

<div class="border border-secondary">
  <span *ngIf="product.category === 'electronics'"><img src="https://img.icons8.com/color/96/000000/laptop.png"></span>
  <span *ngIf="product.category === 'phones'"><img src="https://img.icons8.com/dusk/64/000000/cell-phone.png"></span>
  <span *ngIf="product.category === 'transportation'"><img src="https://img.icons8.com/ios/50/000000/headphones-filled.png"></span>
  <h2>{{product.name}}</h2>
  <p><b>Category:</b> {{product.category}}</p>
  <p><b>Price:</b> {{product.price}} €</p>
  <p><b>Warranty Date: </b>{{product.garantia}}</p>
  <p><b>Expiration Date: </b>{{product.devolucion}}</p>
</div>
