<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button color="primary" (click)="openMenu()">             
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button> 
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button ion-button large class="btn btn-info btn-block" [routerLink]="['/api/chat', user._id]" ><i class="fa fa-plus"></i> Chat </ion-button>
          <ion-button class="btn btn-primary" [routerLink]="['/api/userinfo', user.email]"><i class="fa fa-id-badge"></i>Profile</ion-button>        
        </ion-buttons>
          <ion-title>My Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="chatForm" (ngSubmit)="sendChat()">
    <h2>Usuarios Conectados</h2>
<div *ngFor = "let email of outputlist; let i=index">
<ion-button (click)= "sendTo(email)"> {{email}}</ion-button>
</div>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <h3>Chat</h3>
        <div class="form-group">
          <ion-item>
              <ion-label position="floating">Message to : {{emaildestino}}</ion-label>       
              <ion-label position="floating">Message:</ion-label>
              <ion-input type="text" class="form-control" formControlName="message"></ion-input>
          </ion-item>
        </div>
        <div class="form-group">
            <ion-button class="btn btn-primary" type="submit" [disabled]="chatForm.invalid" > Send </ion-button>
            <ion-button id="input-cancel" fill="outline" color="danger" [routerLink]="['/api/userinfo', user.email]" >Cancel</ion-button>
        </div>

          <div>
            <ion-label>Mensajes recibidos </ion-label>
            <div *ngFor = "let mes of mensajes; let i=index">
             <p> {{mes}}</p>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>                                                                                                                            
  <ion-button (click)= "sendDisconect()" [routerLink]="['/api/userinfo', user.email]"  >Disconect</ion-button>
</ion-content>