<ion-header>
  <ion-toolbar color="rgba(1, 50, 67, 1)">
    <ion-title>My Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h2>Usuarios Conectados</h2>
<div *ngFor = "let email of outputlist; let i=index">
<h3> {{email}}</h3>
</div>

<ion-button class="btn btn-info btn-block" (click)= "sendConection()"><i class="fa fa-plus"></i> Conectarme </ion-button>

<h3>Chat</h3>
  <form [formGroup]="chatForm" (ngSubmit)="sendChat()">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Message:</ion-label>
              <ion-input type="text" class="form-control" formControlName="message"></ion-input>
            </ion-item>
          </div>
          <div class="form-group">
            <ion-button class="btn btn-primary" type="submit" [disabled]="chatForm.invalid" > Send </ion-button>
            <ion-button id="input-cancel" fill="outline" color="danger" [routerLink]="['/api/userinfo', user.email]" >Cancel</ion-button>
          </div>

          <div>
            <ion-label>Mensajes recibidos </ion-label>
             <p>
               {{mensajes}}
             </p>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>