<ion-header>
<ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="openMenu()">             
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="btn btn-primary" [routerLink]="['/api/productsuser', actual.id]"><i class="fa fa-id-badge"></i>Profile</ion-button>        
    </ion-buttons>    
      <ion-title>Modify Products</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Modify the Product: {{actual._id}}</ion-card-title>
    </ion-card-header>

    <form [formGroup]="productForm" (ngSubmit)="modify(actual._id)">
        <ion-label>Name: {{actual.name}}</ion-label> 
      <ion-item class="form-group">
        <ion-label>New name </ion-label>
        <ion-input type="text" class="form-control" formControlName="name"></ion-input>
      </ion-item>

        <ion-label>Category: {{actual.category}}</ion-label> 
      <ion-item class="form-group">
        <ion-label>New category </ion-label>
        <ion-input type="text" class="form-control" formControlName="category"></ion-input>
      </ion-item>

      <ion-label>Price: {{actual.price}}</ion-label> 
      <ion-item class="form-group">
        <ion-label>New price </ion-label>
        <ion-input type="text" class="form-control" formControlName="price"></ion-input>
      </ion-item>

        <ion-label>Date expiration: {{actual.description}}</ion-label> 
      <ion-item class="form-group">
        <ion-label>New date </ion-label>
        <ion-input type="text" class="form-control" formControlName="description"></ion-input>
      </ion-item>

      <ion-item>
          <ion-button class="btn btn-primary" type="submit" [disabled]="productForm.invalid">Modify</ion-button>
      </ion-item>
    </form>
  </ion-card>
</ion-content>
