<h2>User Detail of {{user.firstName}}</h2>
<p><p>
<button class="btn btn-primary" [routerLink]="['/api/product']"><i class="fa fa-clone"></i>&nbsp;  See my products</button>
</p><p>
<p>
  <button class="btn btn-primary" [routerLink]="['/api/userinfo', user.email]"><i class="fa fa-id-badge"></i>&nbsp;  See my users</button>
</p>

<div class="border border-secondary">
  <span><img src="http://corporativoseconafem.com/images/user-f.png"></span>
  <h2>{{user.firstName + " " + user.lastName}}</h2>
  <p><b>Email:</b> {{user.email}}</p>
  <p><b>Id:</b> {{user._id}}</p>
  <p><b>Sing up date:</b> {{user.signUpDate}}</p>
</div>

<p><p>
<button class="logout" (click)="goBack()" [routerLink]="['']">Log out</button>
</p><p>
