
<ion-header>
    <ion-toolbar color="primary">
      <ion-title>User Detail of {{user.firstName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="btn btn-primary" [routerLink]="['/api/userinfo', user.email]"><i class="fa fa-id-badge"></i>&nbsp;  See my users</ion-button>
  
  <div class="border border-secondary">
    <span><img src="http://corporativoseconafem.com/images/user-f.png"></span>
    <h2>{{user.firstName + " " + user.lastName}}</h2>
    <p><b>Email:</b> {{user.email}}</p>
    <p><b>Id:</b> {{user._id}}</p>
    <p><b>Sing up date:</b> {{user.signUpDate}}</p>
  </div>


  <ion-button class="logout" (click)="goBack()" [routerLink]="['']">Log out</ion-button>


</ion-content>


