<ion-header>
    <ion-toolbar color="primary">
      <ion-title>List of Products of User</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="btn btn-primary" [routerLink]="['/api/userinfo', user.email]"><i class="fa fa-id-badge"></i>&nbsp;  See my users</ion-button>
  <ion-list>
    <ion-item-sliding *ngFor = "let product of products; let i=index">
      <ion-item>
        <ion-avatar item-left>
          <span *ngIf="product.category === 'electronics'"><img src="https://img.icons8.com/color/96/000000/laptop.png"></span>
          <span *ngIf="product.category === 'phones'"><img src="https://img.icons8.com/dusk/64/000000/cell-phone.png"></span>
          <span *ngIf="product.category === 'transportation'"><img src="https://img.icons8.com/ios/50/000000/headphones-filled.png"></span>
        </ion-avatar>
        <ion-label style="padding-left: 2px"> ID of the product: {{product._id}}</ion-label>
        <ion-label style="padding-left: 2px"> Name of the product: {{product.name}}</ion-label>
          <ion-item-options>
              <ion-button class="btn btn-primary" [routerLink]="['/api/product', product._id]"><i class="fa fa-eye"></i>&nbsp;See product detail</ion-button>
              <ion-button class="btn btn-danger" [routerLink]="['/api/productmod', product._id]"><i class="fa fa-trash"></i>&nbsp; Modify </ion-button>        
              <ion-button class="btn btn-danger" (click)="confirmDelete(product._id, i)"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete </ion-button>        
          </ion-item-options>    
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

