<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="openMenu()">             
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="btn btn-primary" [routerLink]="['/api/userinfo', user.email]"><i class="fa fa-id-badge"></i>Profile</ion-button>        
    </ion-buttons>    
  <ion-title>List of Products of {{user.firstName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-list>
    <ion-item-sliding *ngFor = "let product of products; let i=index">
      <ion-item>
        <ion-avatar item-left>
          <span *ngIf="product.category === 'electronics'"><img src="https://img.icons8.com/color/96/000000/laptop.png"></span>
          <span *ngIf="product.category === 'phones'"><img src="https://img.icons8.com/dusk/64/000000/cell-phone.png"></span>
          <span *ngIf="product.category === 'transportation'"><img src="https://img.icons8.com/ios/50/000000/headphones-filled.png"></span>
        </ion-avatar>
        <ion-label style="padding-left: 2px"> ID of the product: {{product._id}}</ion-label>
        <ion-label style="padding-left: 2px"> Name of the product: {{product.name}}</ion-label>
          <ion-item-options>                         
              <ion-button style="font-size: 16px; padding-right: 25px" name="detail" color="primary" [routerLink]="['/api/product', product._id]"><ion-icon name="eye"></ion-icon></ion-button>         
              <ion-button style="font-size: 16px; padding-right: 25px" name="trash" color="danger" (click)="confirmDelete(product._id, i)"><ion-icon name="trash"></ion-icon></ion-button>
              <ion-button style="font-size: 16px; padding-right: 25px" name="modify" color="primary" [routerLink]="['/api/productmod', product._id]"><ion-icon name="create"></ion-icon></ion-button>
          
            </ion-item-options>    
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

