
<ion-header>
    <ion-toolbar color="primary">
      <ion-title>List of Tickets of User</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<ion-button class="btn btn-primary" [routerLink]="['/api/userinfo']"><i class="fa fa-id-badge"></i>&nbsp;  See my users</ion-button>

<div *ngFor = "let ticket of tickets; let i=index">
    <div class="border border-secondary">

  <p><b>ID ticket:</b> {{ticket._id}}</p>
  <p><b>name ticket:</b> {{ticket.name}}</p>  
  <p><b>cif ticket:</b> {{ticket.cif}}</p>
  </div>

</div>
</ion-content>
