
<ion-header>
    <ion-toolbar color="primary">
      <ion-title>List of Shops of User</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

<ion-button class="btn btn-primary" [routerLink]="['/api/userinfo', user.email]"><i class="fa fa-id-badge"></i>&nbsp;  See my users</ion-button>

<div *ngFor = "let tienda of tiendas; let i=index">
    <ion-input type="hidden" value="{{tienda._id}}"></ion-input>
    <div class="border border-secondary">
  <h2>{{tienda.name}} </h2> 
  <p><b>Direccion:</b> {{tienda.direccion}}</p>
  </div>
  <ion-button class="btn btn-primary" [routerLink]="['/api/tiendamod', tienda._id]"><i class="fa fa-eye"></i>&nbsp; Modify tienda</ion-button>
</div>
</ion-content>
