<h2> LIST Tienda </h2>

<button class="btn btn-primary" [routerLink]="['/api/userinfo']"><i class="fa fa-id-badge"></i>&nbsp;  See my users</button>

<div *ngFor = "let tienda of lista; let i=index">
    <div class="border border-secondary">

  <p><b>ID tenda:</b> {{tienda._id}}</p>
  <p><b>name tienda:</b> {{tienda.name}}</p>  
  <p><b>direccion tienda:</b> {{tienda.direccion}}</p>
  <button class="btn btn-primary" [routerLink]="['/api/tiendamod/', tienda._id]"><i class="fa fa-eye"></i> Modify Tienda</button>
  </div>

</div>

<button class="btn btn-primary btn-block" [routerLink]="['/api/tienda']"><i class="fa fa-eye"></i> Add tienda</button>