<ion-header>
    <ion-toolbar color="primary">
      <ion-title>List of Shops</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

<ion-button class="btn btn-primary" [routerLink]="['/api/userinfo']"><i class="fa fa-id-badge"></i>&nbsp;Profile</ion-button>

<div *ngFor = "let tienda of lista; let i=index">
    <div class="border border-secondary">

  <p><b>ID tienda:</b> {{tienda._id}}</p>
  <p><b>name tienda:</b> {{tienda.name}}</p>  
  <p><b>direccion tienda:</b> {{tienda.direccion}}</p>
  <p><b>productos tienda:</b> {{tienda.products}}</p>
  </div>

</div>

<ion-button class="btn btn-primary btn-block" [routerLink]="['/api/tienda']"><i class="fa fa-eye"></i> Add Shop</ion-button>
</ion-content>
