<h2>Login</h2>


<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-group">
    <ion-label>Email</ion-label>
    <ion-input type="text" class="form-control" formControlName="email"></ion-input>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="alert alert-danger" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </div>
  <div class="form-group">
    <ion-label>Password</ion-label>
    <ion-input type="password" class="form-control" formControlName="password"></ion-input>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="alert alert-danger" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </div>
  <div class="form-group">
    <ion-button class="btn btn-primary" type = "submit" [disabled]="!loginForm.valid">Log in</ion-button>
    <ion-button class="btn btn-primary" [routerLink]="['/api/signup']" style="margin-left: 30px">Register</ion-button>
  </div>
  <div>
    <ion-button class="btn btn-primary" perm="email, user" type="button" (click)="loginFacebook()"> Continue with facebook  </ion-button>
    
  </div>
</form>
