<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">

          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" class="form-control" formControlName="email"></ion-input>
            </ion-item>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="alert alert-danger" *ngIf="loginForm.get('email').hasError(validation.type) 
                    && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
              </div>
          </div>
          
          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" class="form-control" formControlName="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="alert alert-danger" *ngIf="loginForm.get('password').hasError(validation.type) 
                && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>

          <div class="form-group">
            <ion-button class="btn btn-primary" type = "submit" [disabled]="!loginForm.valid">Log in</ion-button>
            <ion-button class="btn btn-primary" [routerLink]="['/api/signup']" style="margin-left: 30px">Register</ion-button>
          </div>
          
          <div>
          
            <ion-button class="btn btn-primary" perm="email, user" type="button" (click)="loginFacebook()"><ion-icon padding-end="1px" name="logo-facebook"></ion-icon> Continue with facebook  </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
