<h2>Add Producto</h2>
        <div class="form-group">
          <ion-item>
              <ion-label>Name producto:</ion-label>
              <ion-input type="text" class="form-control" formControlName="nameproducto"></ion-input>
          </ion-item>
        </div>
        <div class="form-group">
          <ion-item>
              <ion-label>Price: </ion-label>
              <ion-input type="text" class="form-control" formControlName="price"></ion-input>
          </ion-item>
        </div>

        <div class="form-group">
          <ion-item>
              <ion-label>Category: </ion-label>
              <ion-input type="text" class="form-control" formControlName="category"></ion-input>
          </ion-item>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-label>Description: </ion-label>
            <ion-input type="text" class="form-control" formControlName="description"></ion-input>
          </ion-item>
        </div>


        



<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Add New Product</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <form [formGroup]="addproductForm" (ngSubmit)="addProduct()">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <div class="form-group">
          <ion-item>
            <ion-label position="floating">Name of the product</ion-label>
            <ion-input type="text" class="form-control" formControlName="name"></ion-input>
          </ion-item>

          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.name">
                <div class="alert alert-danger" *ngIf="addproductForm.get('name').hasError(validation.type) && (addproductForm.get('name').dirty || addproductForm.get('name').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Price</ion-label>
              <ion-input type="text" class="form-control" formControlName="price"></ion-input>
            </ion-item>

              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.price">
                  <div class="alert alert-danger" *ngIf="addproductForm.get('price').hasError(validation.type) && (addproductForm.get('price').dirty || addproductForm.get('price').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Category: phones, transportation, electronics</ion-label>
              <ion-input type="text" class="form-control" formControlName="category"></ion-input>
            </ion-item>

            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.category">
                <div class="alert alert-danger" *ngIf="addproductForm.get('category').hasError(validation.type) && (addproductForm.get('category').dirty || addproductForm.get('category').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Warranty Date -- Expiration Date</ion-label>
              <ion-input type="text" class="form-control" formControlName="description"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.description">
                <div class="alert alert-danger" *ngIf="addproductForm.get('description').hasError(validation.type) && (addproductForm.get('description').dirty || addproductForm.get('description').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>

          <div class="form-group">
            <ion-button class="btn btn-primary" type="submit" [disabled]="addproductForm.invalid" > <ion-icon slot="start" name ="add"></ion-icon>Add Product</ion-button>
            <ion-button id="input-cancel" fill="outline" color="danger" [routerLink]="['']" >Cancel</ion-button>
          </div>


        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>










