<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>  
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">

          <div class="form-group">
            <ion-item>
              <ion-label position="floating">First Name</ion-label>
              <ion-input type="text" class="form-control" formControlName="firstName"></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.firstName">
                  <div class="alert alert-danger" *ngIf="registerForm.get('firstName').hasError(validation.type) && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Last Name</ion-label>
              <ion-input type="text" class="form-control" formControlName="lastName"></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.lastName">
                  <div class="alert alert-danger" *ngIf="registerForm.get('lastName').hasError(validation.type) && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" class="form-control" formControlName="email"></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="alert alert-danger" *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-label>Rol</ion-label>
                    <ion-select value="brown" okText="Okay" cancelText="Dismiss" placeholder="Escoja uno">
                        <ion-select-option value="admin">Admin</ion-select-option>
                        <ion-select-option value="user">User</ion-select-option>
                    </ion-select>
                </ion-item>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" class="form-control" formControlName="password"></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="alert alert-danger" *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input type="password" class="form-control" formControlName="confirmPassword"></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.confirmPassword">
                  <div class="alert alert-danger" *ngIf="registerForm.get('confirmPassword').hasError(validation.type) && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </div>

          <div class="form-group">
            <ion-item>
              <ion-button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Register</ion-button>
              <a [routerLink]="['']" style="margin-left: 30px">Cancel</a>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</form>

</ion-content>









