<ion-header>
<ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="openMenu()">             
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button ion-button large class="btn btn-info btn-block" [routerLink]="['/api/chat', user._id]" ><i class="fa fa-plus"></i> Chat </ion-button>
      <ion-button class="btn btn-primary" [routerLink]="['/api/userinfo', user.email]"><i class="fa fa-id-badge"></i>Profile</ion-button>        
    </ion-buttons>    

      <ion-title>Modify Ticket</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-title>Modify the Ticekt: {{actual._id}}</ion-card-title>
    </ion-card-header> 
    <form [formGroup]="ticketsForm" (ngSubmit)="modify(actual._id)">
      <ion-label>Name: {{actual.name}}</ion-label> 
    <ion-item class="form-group">
      <ion-label>New name:</ion-label>
      <ion-input type="text" class="form-control" formControlName="name"></ion-input>
    </ion-item>
  
      <ion-label>CIF: {{actual.cif}}</ion-label> 
    <ion-item class="form-group">
      <ion-label>New CIF:</ion-label>
      <ion-input type="text" class="form-control" formControlName="cif"></ion-input>
    </ion-item>
  
      <ion-label>Photo: {{actual.foto}}</ion-label>
    <ion-item class="form-group">
      <ion-label>New photo:</ion-label>
      <ion-input type="text" class="form-control" formControlName="foto"></ion-input>
    </ion-item>
  
    <ion-label>Fecha de expedicion: {{actual.expedicion}}</ion-label>
    <ion-item class="form-group">
      <ion-label>New fecha de expedicion</ion-label> 
      <ion-input type="text" class="form-control" formControlName="expedicion"></ion-input>
    </ion-item>

    <ion-item class="form-group">
      <ion-button class="btn btn-primary" type="submit" [disabled]="ticketsForm.invalid"> Modify </ion-button>
    </ion-item>    
    </form>
  </ion-card>
</ion-content>
