

<ion-header>
    <ion-toolbar color="primary">
      <ion-title>List of Tickets</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<ion-button class="btn btn-primary" [routerLink]="['/api/userinfo']"><i class="fa fa-id-badge"></i>&nbsp;  See my users</ion-button>

<div *ngFor = "let ticket of list; let i=index">
    <div class="border border-secondary">
  <p><b>ID ticket:</b> {{ticket._id}}</p>
  <p><b>name ticket:</b> {{ticket.name}}</p>
  <p><b>cif ticket:</b> {{ticket.cif}}</p>
  <p><b>foto ticket:</b> {{ticket.foto}</p>
  <p><b>expedicion ticket:</b> {{ticket.expedicion}}</p>
  <button class="btn btn-primary" [routerLink]="['/api/ticketmod', ticket._id]"><i class="fa fa-eye"></i> Modify Ticket</button>
  </div>
</div>


<ion-button class="btn btn-primary btn-block" [routerLink]="['/api/ticket']"><i class="fa fa-eye"></i> Add ticket</ion-button>
</ion-content>

